/*
 * Copyright (c) 2021 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	arduino_header: connector {
		compatible = "arduino-header-r3";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpioa 0 0>,	/* A0 */	/* PA0 */	/* UM3062, Table 14 */
			   <1 0 &gpioa 1 0>,	/* A1 */		/* PA1 */
			   <2 0 &gpioa 4 0>,	/* A2 */		/* PA4 */
			   <3 0 &gpiob 0 0>,	/* A3 */		/* PB0 */
			   <4 0 &gpioc 1 0>,	/* A4 */		/* PC1 */
			   <5 0 &gpioc 0 0>,	/* A5 */		/* PC0 */
			   <6 0 &gpioa 3 0>,	/* D0 */		/* PA3 */	/* UM3062, Table 15 */
			   <7 0 &gpioa 2 0>,	/* D1 */		/* PA2 */
			   <8 0 &gpioc 8 0>,	/* D2 */		/* PC8 */
			   <9 0 &gpiob 3 0>,	/* D3 */		/* PB3 */
			   <10 0 &gpiob 5 0>,	/* D4 */		/* PB5 */
			   <11 0 &gpiob 4 0>,	/* D5 */		/* PB4 */
			   <12 0 &gpiob 10 0>,	/* D6 */		/* PB10 */
			   <13 0 &gpioa 8 0>,	/* D7 */		/* PA8 */
			   <14 0 &gpioc 7 0>,	/* D8 */		/* PC7 */	/* UM3062, Table 16 */
			   <15 0 &gpioc 6 0>,	/* D9 */		/* PC6 */
			   <16 0 &gpioc 9 0>,	/* D10 */		/* PC9 */
			   <17 0 &gpioa 7 0>,	/* D11 */		/* PA7 */
			   <18 0 &gpioa 6 0>,	/* D12 */		/* PA6 */
			   <19 0 &gpioa 5 0>,	/* D13 */		/* PA5 */
			   <20 0 &gpiob 7 0>,	/* D14 */		/* PB7 */
			   <21 0 &gpiob 6 0>;	/* D15 */		/* PB6 */
	};
};

arduino_i2c: &i2c1 {};
arduino_spi: &spi1 {};
arduino_serial: &lpuart1 {};
